
:root {
    --COLOR_1: rgb(4, 4, 8);
    --COLOR_2: rgb(20, 20, 28);
    --COLOR_3: rgb(50, 50, 65);
    --COLOR_4: rgb(110, 110, 150);
    --COLOR_5: rgb(180, 180, 210);
    --COLOR_6: rgb(235, 235, 245);
    --COLOR_HIGHLIGHT_1: rgb(255, 230, 0);

    --ELASTIC_OUT_BEZIER: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('./assets/fonts/BEBASNEUE.OTF');
}

@font-face {
    font-family: 'Abel';
    src: url('./assets/fonts/Abel-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

html, body, main {
    height: 100svh;
}

body {
    background-color: var(--COLOR_2);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.flex {
    display: flex;
    gap: var(--GAP, 1rem);
}

.grid {
    display: grid;
    gap: var(--GAP, 1rem);
}

.sr-only {
    display: none;
}

/* Prevents Mobile Safari from bumping up font sizes in landscape */
@media only screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
}

@media only screen and (max-width: 34.99em) and (orientation: portrait) {
    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: block;
    }
}

@media only screen and (min-width: 35em) {
    .hide-mobile {
        display: block;
    }

    .show-mobile {
        display: none;
    }
}
