
.changelog {
    display: flex;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    border-radius: 1rem;
    background-color: var(--COLOR_2);
    margin-top: 1rem;
}

.changelog table {
    display: table;
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.8rem;
}

.changelog tr {
    min-height: 2rem;
    text-align: left;
    margin: 0;
    background-image: linear-gradient(90deg, rgba(50, 50, 60, 0), var(--COLOR_4), rgba(50, 50, 60, 0));
    background-position: 200% 0%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
    transition: background-color 0.2s ease;
}

@keyframes shine {
    0% {
        background-position: 200% 0%;
    }
    100% {
        background-position: -100% 0%;
    }
}

.changelog tr:first-child {
    text-transform: uppercase;
}

.changelog tr:hover:not(:first-child) {
    animation: shine 3.0s ease infinite;
    animation-delay: 0.5s;
    background-color: var(--COLOR_3);
    cursor: pointer;
}

.changelog th, .changelog td {
    padding: 0.25rem;
    text-align: left;
    margin: 0;
    
}

.changelog td {
    border: 0.05rem solid var(--COLOR_4);
    margin: 0;
    word-wrap: break-word;
}
