
.contact {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: block;
    box-sizing: border-box;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 0.5rem;
    border: 0.1rem solid rgb(50, 50, 60);
    border-radius: 0.25rem;
    background-color: rgb(20, 20, 28);
    color: rgb(235, 235, 235);
    resize: vertical;
    margin: 1rem auto;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
}

.contact textarea {
    height: 10rem;
}

@keyframes sliding {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 87% 0%;
    }
}

.contact button {
    min-width: 10rem;
    width: 30%;
    border: 0.1rem solid rgb(110, 110, 150);
    border-radius: 0.5rem;
    background-color: rgb(20, 20, 28);
    color: rgb(235, 235, 235);
    padding: 1rem;
    text-transform: uppercase;
    margin: 0 auto;
    display: block;
    transform: scale(1);
    background-image: repeating-linear-gradient(45deg, rgba(20, 20, 28, 1) 0%, rgba(20, 20, 28, 1) 9.9%, rgba(4, 4, 8, 0) 10%, rgba(4, 4, 8, 0) 19.9%);
    background-position: 0% 0%;
    background-size: 200% 100%;
    animation: sliding 4.0s infinite linear;
    transition: transform 0.2s, background-color 0.4s;
    
}

.contact button:hover {
    /* animation: bounce 0.3s ease-in-out; */
    transform: scale(1.1);
    border: 0.1rem solid rgb(110, 110, 150);
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    background-color: rgb(4, 4, 8);
    cursor: pointer;
}

.contact input:focus, .contact textarea:focus {
    outline: none !important;
    border: 0.1rem solid rgb(255, 230, 0);
    background-color: rgb(4, 4, 8);
    box-shadow: 0 0 1rem rgb(0, 0, 0);
}

.first-name {
    display: flex;
}

.last-name {
    display: flex;
}

.contact label {
    width: 100%;
    display: block;
    clear: both;
    text-transform: uppercase;
}
