
.three-viewport {
    width: 100vw;
    height: max(14rem, 32vw);
    position: relative;
    display: block;
    align-items: center;
}

.three-view-container {
    width: 100vw;
    height: max(14rem, 32vw);
    overflow: hidden;
}

.three-viewport canvas {
    animation: an_fade_in 0.3s ease-in-out;
}
