
.three-viewport {
    width: 100vw;
    height: max(12rem, 32vw);
    position: relative;
    /* background-color: var(--COLOR_1); */
    display: block;
    align-items: center;
    /* background-image: url('../../assets/images/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.three-view-container {
    width: 100vw;
    height: max(12rem, 32vw);
    overflow: hidden;
}

.three-viewport canvas {
    animation: fade-in 0.3s ease-in-out;
}
