
.editor {
    width: 100%;
}

.editor .html-editor {
    width: 100%;
    min-height: 15rem;
    display: block;
    padding: 1rem;
    margin: 0;
    border-radius: 0.5rem;
    background-color: var(--COLOR_1);
    color: var(--COLOR_6);
    border: 0.1rem solid var(--COLOR_4);
    font-family: 'Jetbrains Mono', sans-serif;
    font-size: var(--FONT_SIZE_SMALL);
    overflow: visible;
    resize: vertical;
    line-height: 1rem;
    tab-size: 3;
}

.editor .html-editor:focus {
    outline: 0;
}

.editor .html-editor::selection {
    background: var(--COLOR_HIGHLIGHT_1_05);
}

.editor .preview {
    width: 100%;
    min-height: 10rem;
    outline: 0;
    border: 0.1rem solid var(--COLOR_4_05);
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: var(--BODY_FONT), sans-serif;
    /* text-align: justify; */
    /* text-justify: inter-word; */
}

.editable {
    display: inline;
}

.editor-buttons {
    width: 100%;
    margin: 0.25rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button.editor-button, select.editor-select {
    width: max-content;
    min-height: 2rem;
    padding: 0.25rem;
    margin: 0.5rem;
    margin-inline: 0.25rem auto;
    position: relative;
    background-color: var(--COLOR_2);
    color: var(--COLOR_6);
    border: 0.1rem solid var(--COLOR_HIGHLIGHT_1_0);
    border-radius: 0.25rem;
    font-family: var(--BODY_FONT), sans-serif;
    font-size: var(--FONT_SIZE_SMALL);
    text-transform: uppercase;
    transition: all 0.15s ease-in-out;
}

button.editor-button {
    min-width: 1rem;
    max-width: 100%;
    flex: 1 1 2rem;
}

select.editor-select {
    min-width: 4rem;
    max-width: 100%;
    flex: 1 1 6rem;
}

button.editor-button.selected {
    background-color: var(--COLOR_HIGHLIGHT_1);
    color: var(--COLOR_1);
}

button.editor-button.selected:hover {
    background-color: var(--COLOR_HIGHLIGHT_5);
    color: var(--COLOR_2);
}

button.editor-button:hover, select.editor-select:hover {
    cursor: pointer;
    background-color: var(--COLOR_1);
    border: 0.1rem solid var(--COLOR_HIGHLIGHT_1);
    z-index: 50;
}

button.editor-button svg {
    width: 1rem;
    height: 1rem;
}

button.editor-button:hover {
    transform: scale(1.1);
}
