
form {
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 0;
    display: block;
    box-sizing: border-box;
}

form input, form textarea, form select {
    width: 100%;
    padding: 0.5rem;
    border: 0.1rem solid var(--COLOR_3);
    border-radius: 0.25rem;
    background-color: var(--COLOR_2);
    color: var(--COLOR_6);
    resize: vertical;
    margin: 1rem auto;
    font-family: 'Abel', sans-serif;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
}

form textarea {
    height: 10rem;
}

@keyframes sliding {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 87% 0%;
    }
}

.submit-button {
    /* width: min(90%, 30rem);
    min-width: 10rem;
    border: 0.1rem solid var(--COLOR_4);
    border-radius: 0.5rem;
    background-color: var(--COLOR_2);
    color: var(--COLOR_6);
    padding: 1rem;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 1rem;
    display: block;
    transform: scale(1);
    font-family: 'Abel', sans-serif;
    transition: transform 0.2s, background-color 0.4s, box-shadow 0.2s; */
}

.submit-button:hover {
    /* animation: bounce 0.3s ease-in-out; */
    /* transform: scale(1.1);
    border: 0.1rem solid var(--COLOR_4);
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    background-color: var(--COLOR_1);
    cursor: pointer; */
}

.submit-button {
    text-decoration: none;
    /* background-color: var(--COLOR_HIGHLIGHT_1); */
    /* background: -webkit-linear-gradient(0deg, var(--COLOR_5), var(--COLOR_5)); */
    background: -webkit-linear-gradient(0deg, var(--COLOR_HIGHLIGHT_1), var(--COLOR_HIGHLIGHT_5));
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    padding: 0.25rem;
    /* border: 0.25rem solid var(--COLOR_HIGHLIGHT_5); */
    border: 0;
    border-radius: 1rem;
    color: var(--COLOR_1);
    display: block;
    position: relative;
    /* width: 6rem; */
    width: min(90%, 10rem);
    min-height: 2.4rem;
    text-align: center;
    font-weight: 900;
    font-size: 0.9rem;
    margin: 0 auto;
    filter: drop-shadow(0 0 0rem rgba(0, 0, 0, 0)) saturate(0);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0);
    opacity: 0.8;
    transition: all 0.2s ease;
}

.page-small:hover .submit-button, .page-medium:hover .submit-button, .page:hover .submit-button {
    background: -webkit-linear-gradient(0deg, var(--COLOR_HIGHLIGHT_1), var(--COLOR_HIGHLIGHT_5));
    filter: drop-shadow(0 0 0rem rgba(0, 0, 0, 0)) saturate(1);
}

.submit-button:hover {
    cursor: pointer;
    scale: 1.1;
    background: -webkit-linear-gradient(0deg, var(--COLOR_HIGHLIGHT_1), var(--COLOR_HIGHLIGHT_5));
    filter: drop-shadow(0 0 0.35rem var(--COLOR_HIGHLIGHT_5_05)) saturate(1) brightness(1.1) !important;
    box-shadow: 0 0.1rem 1rem rgb(0, 0, 0);
    opacity: 1;
}

form input:focus, form textarea:focus, form select:focus {
    outline: none !important;
    border: 0.1rem solid var(--COLOR_HIGHLIGHT_1);
    background-color: var(--COLOR_1);
    box-shadow: 0 0 1rem rgb(0, 0, 0);
}

form label {
    width: 100%;
    display: block;
    clear: both;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
}

.file-select {
    font-size: 0.6rem;
    text-transform: uppercase;
}