
.carousel {
    width: 100vw;
    height: max(22rem, 30vw);
    position: relative;
    margin-top: 4.3rem;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    /* background-image: url('../../assets/images/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
