
.image-container {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    transition: scale 0.2s ease-in-out;
}

.image-caption {
    width: 100%;
    background-color: var(--COLOR_2);
    color: var(--COLOR_5);
    text-align: center;
    padding: 0.5rem;
    margin: 0 auto;
    font-family: var(--BODY_FONT), sans-serif;
}

.blurhash {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 30rem;
}

.image-component {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: an_scale_down 0.5s ease-in-out;
}

.blur-component-on {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    display: block;
}
.blur-component-off {
    opacity: 0;
    animation: an_fade_out 0.5s ease-in-out;
}

.blurhash-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}
.image-loader {
    width: 4rem;
    height: 4rem;
    margin: 1rem auto;
    border: 0.5rem solid var(--COLOR_1_05);
    border-radius: 50%;
    border-top: 0.5rem solid var(--COLOR_6);
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.2));
    animation: an_loader_spin 1s ease infinite, an_loader_grow 0.5s var(--ELASTIC_OUT_BEZIER);
    display: inline-flex;
    position: absolute;
    opacity: 1;
}

/** Selectors for image sizes */
.image_small, .image_medium, .image_large {
    margin: 1rem auto;
    display: block;
    border-radius: 0.5rem;
    overflow: hidden;
}
.image_small img, .image_medium img, .image_large img {
    width: 100%;
    height: auto;
}
.image_small {
    width: min(90%, var(--SM_PAGE_WIDTH));
}
.image_medium {
    width: min(90%, var(--MD_PAGE_WIDTH));
}
.image_large {
    width: min(90%, var(--LG_PAGE_WIDTH));
}
