
/** Animations for header */
@keyframes an_bounce_mobile {
    0% { transform: scale(1) rotate(5deg); }
    25% { transform: scale(1.2) rotate(5deg); }
    50% { transform: scale(1.06) rotate(5deg); }
    75% { transform: scale(1.12) rotate(5deg); }
    100% { transform: scale(1.1) rotate(5deg); }
}
@keyframes an_background_shift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.header-rgb {
    display: block;
    position: fixed;
    top: 4rem;
    width: 100dvw;
    margin-inline: 0 auto;
    height: 0.2rem;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg,
        var(--COLOR_HIGHLIGHT_1),
        var(--COLOR_HIGHLIGHT_1),
        var(--COLOR_HIGHLIGHT_2),
        var(--COLOR_HIGHLIGHT_3),
        var(--COLOR_HIGHLIGHT_4));
	background-size: 400% 100%;
	animation: an_background_shift 20s infinite ease;
    z-index: 400;
}

.primary-header {
    margin: 0;
    display: inline-flex;
    position: fixed;
    width: 100dvw;
    height: 4rem;
    top: 0;
    left: 0;
    background-color: var(--COLOR_1);
    background-image: url('../../../assets/images/navbar.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 500;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    flex-basis: 20%;
    width: 10rem;
    height: 4rem;
    background-image: url('../../../assets/images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 1rem 0 1rem;
}

.primary-navigation {
    display: flex;
    flex-basis: 20%;
    max-width: 60dvw;
    list-style: none;
    padding: 1rem auto;
    margin: 0 auto;
    margin-left: 1rem;
    z-index: 1000;
    transform: translateX(0%);
    transition: transform 0.35s var(--ELASTIC_OUT_BEZIER);
    justify-self: center;
}

.primary-navigation a {
    color: var(--COLOR_6);
    text-decoration: none;
    margin: 0 0.25rem auto;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
    display: block;
    text-align: center;
    transform: scale(1);
}

.primary-navigation a span {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0.5rem;
}

.primary-navigation a:hover {
    color: var(--COLOR_HIGHLIGHT_1);
    animation: an_bounce 0.3s ease-in-out;
    transform: scale(1.1);
}

.primary-navigation svg {
    color: var(--COLOR_5);
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    margin: auto;
    vertical-align: middle;
    transition: transform 0.8s ease-in-out, color 0.2s ease-in-out;
}

.primary-navigation a:hover > svg {
    filter: drop-shadow(0 0 0.3rem var(--COLOR_HIGHLIGHT_1));
    color: var(--COLOR_6);
}

.mobile-nav-toggle {
    display: none;
}

.user-navigation {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    padding-inline: 0;
    display: flex;
    position: fixed;
    top: 4.2rem;
    color: var(--COLOR_6);
    background-color: var(--COLOR_1_075);
    border-bottom: 0.1rem solid var(--COLOR_4);
    backdrop-filter: blur(0.2rem); 
    margin: 0 auto;
    z-index: 400;
    font-family: 'Abel', sans-serif;
}

.user-links {
    width: min(95vw, 50rem);
    display: flex;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.user-navigation a {
    width: 6rem;
    max-width: 25%;
    display: flex;
    margin: 0.25rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: var(--COLOR_5);
    filter: drop-shadow(0 0 0.25rem rgb(0, 0, 0));
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.user-navigation svg {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.25rem;
}

.user-navigation a:hover {
    color: var(--COLOR_HIGHLIGHT_1);
}


@media screen and (min-width: 35em) {
    .primary-navigation a:hover>svg {
        animation: an_wiggle ease-in-out infinite 1s;
    }
}

@media screen and (max-width: 34.99em) and (orientation: portrait) {
    .logo {
        margin-inline: 0 auto;
    }

    .header-container {
        width: 15rem;
    }

    .primary-navigation {
        position: fixed;
        inset: 0 0 0 15%;
        --gap: 2rem;
        max-width: 100dvw;
        height: 110vh;
        top: -1rem;
        flex-direction: column;
        padding: min(30vh, 11rem) 3rem 2rem;
        background-image: url('../../../assets/images/panel.webp');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        z-index: 1000;
        transform: translateX(120%) rotate(-5deg);
        border-left: 0.2rem solid var(--COLOR_4);
    }

    .mobile-navigation {
        z-index: 100;
    }

    .mobile-navigation[data-visible="true"] {
        transform: translateX(20%) rotate(-5deg);
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
    }

    .primary-navigation a {
        font-size: 2.3rem;
        display: inline-block;
        color: var(--COLOR_6);
        margin-bottom: 0.5rem;
        margin-left: 0rem;
        transform: rotate(5deg);
    }

    .primary-navigation a:hover {
        color: var(--COLOR_HIGHLIGHT_1);
        animation: an_bounce_mobile 0.3s ease-in-out;
        transform: scale(1.1) rotate(5deg);
    }

    .primary-navigation svg {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
        display: inline-block;
    }

    .primary-navigation[data-visible="true"] svg {
        animation: an_spin_back 5s ease-in-out infinite;
        animation-delay: 0s;
    }

    .primary-navigation li:nth-of-type(2) svg {
        animation-delay: 0.2s;
    }

    .primary-navigation li:nth-of-type(3) svg {
        animation-delay: 0.4s;
    }

    .primary-navigation li:nth-of-type(4) svg {
        animation-delay: 0.6s;
    }

    .mobile-nav-toggle {
        height: 2rem;
        display: block;
        background-color: rgba(255, 255, 255, 0);
        position: absolute;
        z-index: -1000;
        color: var(--COLOR_6);
        width: 1rem;
        aspect-ratio: 1;
        top: 1rem;
        right: 2rem;
        border: 0;
        cursor: pointer;
        transition: color 0.2s, transform 0.2s ease;
    }

    .mobile-nav-toggle:hover {
        color: var(--COLOR_HIGHLIGHT_1);
        transform: scale(1.1);
    }

    .mobile-nav-toggle svg {
        display: block;
    }
}
