
footer {
    overflow: hidden;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    bottom: 0;
    min-height: 6rem;
    width: 100%;
    background-color: black;
    backdrop-filter: blur(0.5rem);
    margin: 0;
    margin-top: 2rem;
    padding-top: 0.5rem;
    flex-shrink: 0;
}

.footer-break {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--COLOR_3) 20%, var(--COLOR_3) 80%, rgba(0, 0, 0, 0) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: min(50vw, 30rem);
    height: 0.05rem;
    border: 0;
    margin: 1rem auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    display: block;
}

.footer-links,
.social-links {
    display: inline-flex;
    margin: 0 auto;
    font-size: 12px;
}

.footer-links a {
    color: var(--COLOR_6);
    text-decoration: none;
    padding: 0.1rem;
    margin: 1rem;
    border-bottom: 0.05rem solid rgba(255, 230, 0, 0);
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
    text-transform: uppercase;
}

.footer-links a:hover {
    color: var(--COLOR_HIGHLIGHT_1);
    border-bottom: 0.05rem solid var(--COLOR_HIGHLIGHT_1);
}

.social-links {
    width: min-content;
    max-width: 95vw;
    padding-inline: 1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    background-color: var(--COLOR_1);
    border: 0.1rem solid var(--COLOR_2);
}

.social-links-group {
    height: 3rem;
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0rem auto;
    padding: 0;
}

@media only screen and (max-width: 34.99em) and (orientation: portrait) {
    .social-links {
        display: block;
        justify-content: center;
        text-align: center;
    }

    .social-links-group {
        display: inline-flex;
        align-items: center;
        text-align: center;
        align-content: center;
        justify-content: center;
    }
}


.social-links a {
    display: inline-flex;
    text-decoration: none;
    padding: 0;
    padding-inline: 0.7rem;
    margin: 0.5rem auto;
    opacity: 0.8;
    filter: drop-shadow(0 0 0rem rgba(255, 255, 255, 0));
    transition: color 0.2s, transform 0.2s, opacity 0.2s, filter 0.2s ease-in-out;
    align-content: center;
    align-items: center;
}

.social-links a:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    animation: bounce 0.3s ease-in-out;
    opacity: 1;
}

.social-links svg {
    width: 1.5rem;
    height: 1.5rem;
    overflow: visible;
}

.twitter {
    color: #3bb9eb;
}
.twitter:hover svg {
    filter: drop-shadow(0 0 0.5rem #06b8ff);
}

.instagram {
    color: #e3ca84;
}
.instagram:hover svg {
    filter: drop-shadow(0 0 0.5rem #ffc933);
}

.youtube {
    color: #ed3333;
}
.youtube:hover svg {
    filter: drop-shadow(0 0 0.5rem #ff0000);
}

.facebook {
    color: #5d87e4;
}
.facebook:hover svg {
    filter: drop-shadow(0 0 0.5rem #0856ff);
}

.bandcamp {
    color: #629aa9;
}
.bandcamp:hover svg {
    filter: drop-shadow(0 0 0.5rem #62fff5);
}

.github {
    color: #9878c8;
}
.github:hover svg {
    filter: drop-shadow(0 0 0.5rem #9147ff);
}

.apple {
    color: rgb(200, 200, 245);
}
.apple svg {
    width: 2rem;
    height: 2rem;
}
.apple:hover svg {
    filter: drop-shadow(0 0 0.5rem rgba(191, 191, 255, 0.5));
}

.google {
    color: rgb(197, 255, 81);
}
.google:hover svg {
    filter: drop-shadow(0 0 0.5rem #aad13f);
}

.steam {
    color: rgb(195, 195, 255);
}
.steam:hover svg {
    filter: drop-shadow(0 0 0.5rem #0856ff);
}

footer p {
    margin: 1rem auto;
    margin-top: 0;
    color: rgba(235, 235, 235, 0.5);
    font-size: 0.6rem;
}

.copyright {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
