
/** Common animations */
@keyframes an_fade_in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes an_fade_out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes an_scale_down {
    0% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
@keyframes an_translate_up {
    0% { transform: scale(1) translateY(1rem); }
    100% { transform: scale(1) translateY(0rem); }
}
@keyframes an_background_translate {
    0% { background-position: 200% 0%; }
    100% { background-position: -100% 0%; }
}
@keyframes an_pulse_tilt {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}
@keyframes an_wiggle {
    0% { transform: rotate(0deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(10deg); }
    50% { transform: rotate(-10deg); }
    60% { transform: rotate(5deg); }
    70% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
@keyframes an_wobble {
    0% { transform: rotate(0deg) scale(1); }
    25% { transform: rotate(-4deg) scale(1.025); }
    50% { transform: rotate(4deg) scale(1.05); }
    75% { transform: rotate(-2deg) scale(1.075); }
    100% { transform: rotate(0deg) scale(1.1); }
}
@keyframes an_bounce {
    0% { transform: scale(1); }
    25% { transform: scale(1.2); }
    50% { transform: scale(1.06); }
    75% { transform: scale(1.12); }
    100% { transform: scale(1.1); }
}
@keyframes an_spin_back {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(0deg); }
    25% { transform: rotate(-20deg); }
    37.5% { transform: rotate(370deg); }
    40% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}
@keyframes an_loader_grow {
    0% {
        width: 0rem;
        height: 0rem;
        opacity: 0;
    }
    100% {
        width: 4rem;
        height: 4rem;
        opacity: 1;
    }
}
@keyframes an_loader_spin {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(270deg); }
    100% { transform: rotate(360deg);}
}

/** Margins */
.margin_header {
    display: block;
    position: relative;
    width: 100%;
    height: 2.4rem;
}

/** Page elements */
.page_large, .page_medium, .page_small {
    min-height: 4rem;
    background-repeat: repeat-y;
    background-size: 100%;
    background-color: var(--COLOR_3);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem auto;
    margin-top: 1.5rem;
    color: var(--COLOR_6);
    transition: border 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 1rem;
    box-shadow: inset 0 0 1.5rem var(--COLOR_4_0);
    border: 0.25rem solid var(--COLOR_3);
    filter: drop-shadow(0 0.1rem 0.25rem rgb(0, 0, 0, 0.3));
}
.page_large:hover, .page_medium:hover, .page_small:hover {
    border: 0.25rem solid var(--COLOR_4);
    box-shadow: inset 0 0 1.5rem var(--COLOR_4_05);
}
.page_large {
    background-image: url('../../assets/images/page_background_large.webp');
    width: min(var(--MIN_PAGE_PERCENT), var(--LG_PAGE_WIDTH));
}
.page_medium {
    background-image: url('../../assets/images/page_background_medium.webp');
    width: min(var(--MIN_PAGE_PERCENT), var(--MD_PAGE_WIDTH));
}
.page_small {
    background-image: url('../../assets/images/page_background_small.webp');
    width: min(var(--MIN_PAGE_PERCENT), var(--SM_PAGE_WIDTH));
}

@media only screen and (max-width: 36.99em) {
    .page_large {
        background-image: url('../../assets/images/page_background_small.webp');
    }
    .page_medium {
        background-image: url('../../assets/images/page_background_small.webp');
    }
    .page_small {
        background-image: url('../../assets/images/page_background_small.webp');
    }
}

.page_container {
    margin-top: 4.3rem;
    height: min-content;
    flex: 1 0 auto;
}
.page-title {
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: default;
}
.page-title svg {
    transform: translateX(-0.45rem) translateY(-0.05rem) rotate(-6deg) scale(1.4);
    color: var(--COLOR_4);
    z-index: -10;
    transition: transform 0.2s ease-in-out;
}
.content {
    height: min-content;
    color: var(--COLOR_6);
    transition: all 0.5s ease;
    animation: an_fade_in 0.3s ease-in-out, an_translate_up 0.3s var(--ELASTIC_OUT_BEZIER);
}

h1 {
    width: max-content;
    display: flex;
    font-family: var(--TITLE_FONT), sans-serif;
    letter-spacing: 0.025rem;
    font-size: 1.6rem;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    align-items: center;
}
h1 svg {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

/** Horizontal rule elements */
.hr_fade, .hr_small {
    background-image: linear-gradient(90deg, var(--COLOR_4_0) 0%, var(--COLOR_4) 5%, var(--COLOR_4) 95%, var(--COLOR_4_0) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 0.15rem;
    border: 0;
    margin: 1rem auto;
}
.hr_fade {
    width: min(80%, calc(var(--MD_PAGE_WIDTH) - 10rem));
}
.hr_small {
    width: min(80%, calc(var(--SM_PAGE_WIDTH) - 10rem));
}
.break_vertical {
    display: inline-flex;
    width: 0;
    height: 1rem;
    border: 0.1rem solid rgba(235, 235, 235, 0.3);
    margin: 0.75rem;
}

/** Prompt element */
.prompt, .prompt.tight {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem auto;
    background-image: linear-gradient(90deg, var(--COLOR_1), var(--COLOR_2));
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.5rem;
    filter: contrast(0.95) saturate(1.1);
    transition: filter 0.3s ease-in-out;
}
.prompt {
    width: min(100%, var(--MD_PAGE_WIDTH));
}
.prompt.tight {
    width: max-content;
    max-width: min(100%, var(--MD_PAGE_WIDTH));
}
.prompt.dark {
    background-image: linear-gradient(90deg, var(--COLOR_1), var(--COLOR_1));
}
.prompt:hover {
    filter: contrast(1) saturate(1);
}

.prompt a, a.link_basic {
    color: var(--COLOR_HIGHLIGHT_1);
    transition: color 0.2s ease-in-out;
}
.prompt a:hover, a.link_basic:hover {
    color: var(--COLOR_6);
}

.prompt .icon {
    display: flex;
    margin-right: 1rem;
    transition: transform 0.3s var(--ELASTIC_OUT_BEZIER);
}
.prompt .icon svg {
    min-width: 1.5rem;
    min-height: 1.5rem;
    width: 2rem;
    height: 2rem;
}
.prompt:hover .icon {
    transform: scale(1.2);
}
.prompt:hover .icon svg {
    animation: an_pulse_tilt 1s ease-in-out infinite;
}

/** Loader elements */
.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader_spinner {
    width: 4rem;
    height: 4rem;
    margin: 4rem auto;
    margin-top: 6rem;
    border: 0.5rem solid var(--COLOR_4);
    border-radius: 50%;
    border-top: 0.5rem solid var(--COLOR_HIGHLIGHT_1);
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.2));
    animation: an_loader_spin 1s ease infinite, an_loader_grow 0.5s var(--ELASTIC_OUT_BEZIER);
    display: block;
    position: relative;
    opacity: 1;
}

/** Container for video iframe elements */
.video_container div {
    width: min(100%, var(--MD_PAGE_WIDTH));
    aspect-ratio: 1.777;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 0 auto;
    background-color: var(--COLOR_2);
}
.video_container iframe {
    width: 100%;
    aspect-ratio: 1.777;
    margin: 0 auto;
}

/** Basic form elements */
.form_basic {
    width: 100%;
    margin: 0 auto;
    margin-top: 1rem;
    padding-top: 0;
    display: block;
    box-sizing: border-box;
}
.form_basic input, .form_basic textarea, .form_basic select {
    width: 100%;
    padding: 0.5rem;
    border: 0.1rem solid var(--COLOR_3);
    border-radius: 0.25rem;
    background-color: var(--COLOR_2);
    color: var(--COLOR_6);
    resize: vertical;
    margin: 1rem auto;
    font-family: var(--BODY_FONT), sans-serif;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
}
.form_basic textarea {
    height: 10rem;
}
.form_basic .buttons {
    width: min(100%, 30rem);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
}
.form_basic input:focus, form textarea:focus, form select:focus {
    outline: none !important;
    border: 0.1rem solid var(--COLOR_HIGHLIGHT_1);
    background-color: var(--COLOR_1);
    box-shadow: 0 0 1rem rgb(0, 0, 0);
}
.form_basic label {
    width: 100%;
    display: block;
    clear: both;
    text-transform: uppercase;
    font-family: var(--BODY_FONT), sans-serif;
}

/** Basic buttons */
.button_basic {
    display: flex;
    text-decoration: none !important;
    background: -webkit-linear-gradient(0deg, var(--COLOR_5), var(--COLOR_5));
    font-family: var(--HEADING_FONT), sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0.25rem;
    padding-right: 0.75rem;
    border: 0;
    border-radius: 0.25rem;
    color: var(--COLOR_1);
    position: relative;
    width: max-content;
    height: 2.5rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
    filter: drop-shadow(0 0 0rem rgba(0, 0, 0, 0));
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0);
    opacity: 0.9;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}
.button_basic .icon {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    transition: transform 0.2s ease;
}
.button_basic .icon svg {
    width: 1.2rem;
    height: 1.2rem;
}
.button_basic:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: -webkit-linear-gradient(0deg, var(--COLOR_HIGHLIGHT_1), var(--COLOR_HIGHLIGHT_5));
    filter: drop-shadow(0 0 0.35rem var(--COLOR_HIGHLIGHT_5_05)) saturate(1) brightness(1.1) !important;
    box-shadow: 0 0.1rem 1rem rgb(0, 0, 0);
    opacity: 1;
}
.button_basic:hover .icon {
    transform: scale(1.2);
}
.button_basic:hover .icon svg {
    animation: an_pulse_tilt 0.75s ease infinite;
}
.button_delete:hover {
    background: -webkit-linear-gradient(0deg, rgb(255, 107, 107), rgb(255, 49, 73));
    filter: drop-shadow(0 0 0.35rem rgba(237, 44, 44, 0.5)) saturate(1) brightness(1.1) !important;
}

.button_trash {
    border: 0;
    width: 1rem;
    height: 1rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    transform: scale(1.1) translate(0, 0.1rem);
    background: none;
    color: var(--COLOR_5);
    transition: all 0.2s ease-in-out;
}
.button_trash:hover {
    cursor: pointer;
    transform: scale(1.1) translate(0, 0.1rem);
    color: var(--COLOR_HIGHLIGHT_1);
}
.button_trash svg {
    width: 1rem;
    height: 1rem;
}

.file-select {
    font-size: 0.6rem;
    text-transform: uppercase;
}

blockquote {
    margin: 0.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    padding: 0.25rem;
    background: linear-gradient(90deg, var(--COLOR_4_05), var(--COLOR_4_0));
    border-radius: 0.25rem;
}

.return-link {
    text-decoration: none;
    background: -webkit-linear-gradient(0deg, var(--COLOR_5), var(--COLOR_5));
    padding: 0.25rem;
    padding-right: 0.75rem;
    border-radius: 0.25rem;
    color: var(--COLOR_3);
    display: flex;
    align-items: center;
    position: relative;
    width: max-content;
    height: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-family: var(--HEADING_FONT), sans-serif;
    font-size: 1rem;
    filter: drop-shadow(0 0 0rem rgba(0, 0, 0, 0));
    opacity: 0.9;
    transition: all 0.2s ease;
}
.return-link svg {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: transform 0.2s ease;
    transform-origin: center;
}
.return-link:hover svg {
    animation: an_pulse_tilt 0.75s ease infinite;
    transform: scale(1.4);
}
.return-link:hover {
    background: -webkit-linear-gradient(0deg, var(--COLOR_HIGHLIGHT_1), var(--COLOR_HIGHLIGHT_5));
    filter: drop-shadow(0 0 0.35rem var(--COLOR_HIGHLIGHT_5_05)) saturate(1) brightness(1.1);
    transform: scale(1.1);
    opacity: 1;
}
.return-link-container {
    width: min(var(--MIN_PAGE_PERCENT), var(--MD_PAGE_WIDTH));
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.cover-image {
    width: min(100vw, 100%);
    aspect-ratio: 3.5;
    min-height: 15rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 0.25rem solid var(--COLOR_HIGHLIGHT_1_0);
    z-index: 50;
    overflow: hidden;
}
@media (max-width: 44.99rem) {
    .cover-image {
        aspect-ratio: 2;
    }
}

.tritone-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-top: -0.4rem;
}
.tritone-one svg, .tritone-two svg, .tritone-three svg {
    position: absolute;
    transition: all 0.3s ease-out;
}
.tritone-one svg {
    color: var(--COLOR_HIGHLIGHT_6);
    transform: translate(-1.75rem, 0.3rem) rotate(-6deg) scale(1.4);
}
.tritone-two svg {
    color: var(--COLOR_HIGHLIGHT_2);
    transform: translate(-1.6rem, 0.15rem) rotate(-6deg) scale(1.4);
}
.tritone-three svg {
    color: var(--COLOR_HIGHLIGHT_1);
    transform: translate(-1.45rem, 0rem) rotate(-6deg) scale(1.4);
}

p.large {
    max-width: min(95%, var(--LG_PAGE_WIDTH));
}
p.medium {
    max-width: min(95%, var(--MD_PAGE_WIDTH));
}
