@keyframes wobble {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(-4deg) scale(1.025);
    }

    50% {
        transform: rotate(4deg) scale(1.05);
    }

    75% {
        transform: rotate(-2deg) scale(1.075);
    }

    100% {
        transform: rotate(0deg) scale(1.1);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.06);
    }

    75% {
        transform: scale(1.12);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes move-up {
    0% {
        transform: scale(1) translateY(1rem);
    }
    100% {
        transform: scale(1) translateY(0rem);
    }
}

.header-margin {
    display: block;
    position: relative;
    width: 100%;
    height: 5rem;
}

.page {
    width: 90vw;
    max-width: 60rem;
    min-height: 4rem;
    background-color: var(--COLOR_3);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem auto;
    color: var(--COLOR_6);
    transition: border 0.15s, box-shadow 0.15s;
    font-size: 1rem;
    box-shadow: inset 0 0 4rem rgba(255, 255, 255, 0);
    border: 0.25rem solid var(--COLOR_3);
    filter: drop-shadow(0 0.1rem 0.25rem rgb(0, 0, 0, 0.3));
}

.page:hover {
    border: 0.25rem solid var(--COLOR_4);
    box-shadow: inset 0 0 2rem rgba(255, 255, 255, 0.3);
}

.break {
    display: block;
    margin-bottom: 2rem;
}

.page-container {
    height: min-content;
    flex: 1 0 auto;
}

.content {
    height: min-content;
    color: var(--COLOR_6);
    transition: all 0.5s ease;
    animation: fade-in 0.3s ease-in-out, move-up 0.3s var(--ELASTIC_OUT_BEZIER);
}

h1 {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}

hr {
    background-image: linear-gradient(90deg, var(--COLOR_5_0) 0%, var(--COLOR_5) 20%, var(--COLOR_5) 80%, var(--COLOR_5_0) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 0.05rem;
    border: 0;
    margin: 1rem auto;
    margin-bottom: 2rem;
}

.center {
    text-align: center;
}
