
/** Load all required font families here */
@font-face {
    font-family: 'Jetbrains Mono';
    src: url('../assets/fonts/JETBRAINSMONO-REGULAR.TTF');
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../assets/fonts/BEBASNEUE.OTF');
}
@font-face {
    font-family: 'Abel';
    src: url('../assets/fonts/Abel-Regular.ttf');
}
