@charset "UTF-8";

/** Global variable controls */
:root {
    --COLOR_BACKGROUND: rgb(15, 16, 30);
    --COLOR_1: rgb(5, 5, 15);
    --COLOR_1_0: rgba(5, 5, 15, 0);
    --COLOR_1_05: rgba(5, 5, 15, 0.5);
    --COLOR_1_075: rgba(5, 5, 15, 0.75);
    --COLOR_2: rgb(16, 16, 28);
    --COLOR_2_05: rgb(16, 16, 28, 0.5);
    --COLOR_3: rgb(30, 30, 49);
    --COLOR_3_05: rgba(30, 30, 49, 0.5);
    --COLOR_3_0: rgba(30, 30, 49, 0);
    --COLOR_4: rgb(80, 80, 105);
    --COLOR_4_0: rgba(80, 80, 105, 0);
    --COLOR_4_05: rgba(80, 80, 105, 0.5);
    --COLOR_4_075: rgba(80, 80, 105, 0.75);
    --COLOR_5: rgb(180, 180, 210);
    --COLOR_5_0: rgba(180, 180, 210, 0);
    --COLOR_5_075: rgba(180, 180, 210, 0.75);
    --COLOR_6: rgb(235, 235, 245);
    --COLOR_7: rgb(41, 41, 64);
    --COLOR_HIGHLIGHT_1: rgb(255, 230, 0);
    --COLOR_HIGHLIGHT_1_0: rgba(255, 230, 0, 0);
    --COLOR_HIGHLIGHT_1_05: rgba(255, 230, 0, 0.5);
    --COLOR_HIGHLIGHT_2: rgb(242, 28, 110);
    --COLOR_HIGHLIGHT_3: rgb(35, 166, 213);
    --COLOR_HIGHLIGHT_4: rgb(35, 213, 171);
    --COLOR_HIGHLIGHT_5: rgb(255, 157, 19);
    --COLOR_HIGHLIGHT_5_05: rgb(255, 157, 19, 0.5);

    --ELASTIC_OUT_BEZIER: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    --LG_PAGE_WIDTH: 68rem;
    --MD_PAGE_WIDTH: 50rem;
    --SM_PAGE_WIDTH: 34rem;
    --MIN_PAGE_PERCENT: 95vw;
    --MAX_NEWS_IMAGE_WIDTH: 62rem;
}

/** General page scope controls */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, main {
    height: 100svh;
}
body {
    background-color: var(--COLOR_BACKGROUND);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* Prevents Mobile Safari from bumping up font sizes in landscape */
@media only screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
}

/** Show / hide mobile selectors */
@media only screen and (max-width: 34.99em) and (orientation: portrait) {
    .hide_mobile {
        display: none;
    }
    .show_mobile {
        display: block;
    }
}
@media only screen and (min-width: 35em) {
    .hide_mobile {
        display: block;
    }
    .show_mobile {
        display: none;
    }
}

/** General display control selectors */
.flex {
    display: flex;
    gap: var(--GAP, 1rem);
}
.grid {
    display: grid;
    gap: var(--GAP, 1rem);
}

.space-between {
    justify-content: space-between;
}

/** Alignment selectors */
.align_center {
    display: block;
    margin: auto 0;
    text-align: center;
}
.align_left {
    float: left;
}
.align_right {
    float: right;
}
.align_justified {
    text-align: justify;
    text-justify: inter-word;
    display: block;
    width: max-content;
    max-width: 90%;
    margin: 0 auto;
}

/** Font selectors */
.font_abel {
    font-family: 'Abel', sans-serif;
}
.font_jetbrains-mono {
    font-family: 'Jetbrains Mono', sans-serif;
}
.font_bebas-neue {
    font-family: 'Bebas Neue', sans-serif;
}

/** Color selectors */
.color_default {
    color: var(--COLOR_6);
}
.color_highlight1 {
    color: var(--COLOR_HIGHLIGHT_1);
}
.color_highlight2 {
    color: var(--COLOR_HIGHLIGHT_2);
}
.color_highlight3 {
    color: var(--COLOR_HIGHLIGHT_3);
}
.color_highlight4 {
    color: var(--COLOR_HIGHLIGHT_4);
}
.color_highlight5 {
    color: var(--COLOR_HIGHLIGHT_5);
}
.color_dim1 {
    color: var(--COLOR_5);
}
.color_dim2 {
    color: var(--COLOR_4);
}

/** Text size selectors */
.text_body {
    font-family: 'Abel', sans-serif;
    font-size: 1rem;
}
.text_small {
    font-size: 0.8rem;
}
.text_large {
    font-size: 1.4rem;
}
.text_monolithic {
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: 0;
}

/** Misc text selectors */
.indent {
    text-indent: 2rem;
}
.sr-only {
    display: none;
}
