@charset "UTF-8";

/** Global variable controls */
:root {
    --COLOR_BACKGROUND: rgb(17, 18, 33);
    --COLOR_1: rgb(6, 6, 17);
    --COLOR_1_0: rgba(6, 6, 17, 0);
    --COLOR_1_05: rgba(6, 6, 17, 0.5);
    --COLOR_1_075: rgba(6, 6, 17, 0.75);
    --COLOR_2: rgb(17, 17, 31);
    --COLOR_2_05: rgb(17, 17, 31, 0.5);
    --COLOR_3: rgb(33, 33, 56);
    --COLOR_3_05: rgba(33, 33, 56, 0.5);
    --COLOR_3_0: rgba(33, 33, 56, 0);
    --COLOR_4: rgb(83, 83, 110);
    --COLOR_4_0: rgba(83, 83, 110, 0);
    --COLOR_4_05: rgba(83, 83, 110, 0.5);
    --COLOR_4_075: rgba(83, 83, 110, 0.75);
    --COLOR_5: rgb(180, 180, 210);
    --COLOR_5_0: rgba(180, 180, 210, 0);
    --COLOR_5_075: rgba(180, 180, 210, 0.75);
    --COLOR_6: rgb(235, 235, 245);
    --COLOR_7: rgb(41, 41, 64);
    --COLOR_HIGHLIGHT_1: rgb(254, 231, 17);
    --COLOR_HIGHLIGHT_1_0: rgba(254, 231, 17, 0);
    --COLOR_HIGHLIGHT_1_05: rgba(254, 231, 17, 0.5);
    --COLOR_HIGHLIGHT_2: rgb(242, 28, 110);
    --COLOR_HIGHLIGHT_3: rgb(35, 166, 213);
    --COLOR_HIGHLIGHT_3_0: rgba(35, 166, 213, 0);
    --COLOR_HIGHLIGHT_4: rgb(35, 213, 171);
    --COLOR_HIGHLIGHT_5: rgb(255, 157, 19);
    --COLOR_HIGHLIGHT_5_0: rgba(255, 157, 19, 0);
    --COLOR_HIGHLIGHT_5_05: rgb(255, 157, 19, 0.5);
    --COLOR_HIGHLIGHT_6: rgb(34, 85, 197);

    --ELASTIC_OUT_BEZIER: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    --LG_PAGE_WIDTH: 70rem;
    --MD_PAGE_WIDTH: 55rem;
    --SM_PAGE_WIDTH: 40rem;
    --MIN_PAGE_PERCENT: 95vw;
    --MAX_NEWS_IMAGE_WIDTH: 69rem;

    --TILE_RADIUS: 1.25rem;
    --CONTENT_RADIUS: 0.5rem;
    --INPUT_RADIUS: 0.25rem;
    --ROUND_RADIUS: 2rem;

    --TILE_PADDING: 1.25rem;
    --TILE_PADDING_INLINE: 1.75rem;

    --SCREEN_WIDTH_MOBILE: 39.999em;

    --BODY_FONT: 'Jost Light';
    --TITLE_FONT: 'Abel';
    --HEADING_FONT: 'Bebas Neue';
    --CODE_FONT: 'Jetbrains Mono';

    --FONT_SIZE_XSMALL: 0.8rem;
    --FONT_SIZE_SMALL: 1rem;
    --FONT_SIZE_MEDIUM: 1.2rem;
    --FONT_SIZE_LARGE: 1.4rem;
    --FONT_SIZE_XLARGE: 1.8rem;
    --FONT_SIZE_XXLARGE: 3rem;
    --FONT_SIZE_MONOLITHIC: 6rem;
}

@media screen and (max-width: 39.999em) {
    :root {
        --FONT_SIZE_XSMALL: 0.7rem;
        --FONT_SIZE_SMALL: 0.9rem;
        --FONT_SIZE_MEDIUM: 1rem;
        --FONT_SIZE_LARGE: 1.2rem;
        --FONT_SIZE_XLARGE: 1.5rem;
        --FONT_SIZE_XXLARGE: 2.5rem;
        --FONT_SIZE_MONOLITHIC: 5rem;
    }
}

/** General page scope controls */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, main {
    height: 100svh;
}
body {
    background-color: var(--COLOR_BACKGROUND);
    background-image: url('../assets/images/background.webp');
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* Prevents Mobile Safari from bumping up font sizes in landscape */
@media only screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
}

/** Show / hide mobile selectors */
@media only screen and (max-width: 39.99em) and (orientation: portrait) {
    .hide_mobile {
        display: none;
    }
    .show_mobile {
        display: block;
    }
}
@media only screen and (min-width: 40em) {
    .hide_mobile {
        display: block;
    }
    .show_mobile {
        display: none;
    }
}

/** General display control selectors */
.flex {
    display: flex;
    gap: var(--GAP, 1rem);
}
.grid {
    display: grid;
    gap: var(--GAP, 1rem);
}

.space-between {
    justify-content: space-between;
}

/** Alignment selectors */
.align_center, .align_left, .align_right, .align_justified {
    display: block;
    width: max-content;
    max-width: 90%;
    margin: 0 auto;
}
.align_center {
    text-align: center;
}
.align_left {
    text-align: left;
}
.align_right {
    text-align: right;
}
.align_justified {
    text-align: justify;
    text-justify: inter-word;
}
.vertical_center {
    align-content: center;
}

@media only screen and (max-width: 34.99em) and (orientation: portrait) {
    .align_center, .align_left, .align_right, .align_justified {
        max-width: 100%;
    }
}

/** Font selectors */
.font_abel {
    font-family: 'Abel', sans-serif;
}
.font_jetbrains-mono {
    font-family: 'Jetbrains Mono', sans-serif;
}
.font_bebas-neue {
    font-family: 'Bebas Neue', sans-serif;
}

/** Color selectors */
.color_default {
    color: var(--COLOR_6);
}
.color_highlight1 {
    color: var(--COLOR_HIGHLIGHT_1);
}
.color_highlight2 {
    color: var(--COLOR_HIGHLIGHT_2);
}
.color_highlight3 {
    color: var(--COLOR_HIGHLIGHT_3);
}
.color_highlight4 {
    color: var(--COLOR_HIGHLIGHT_4);
}
.color_highlight5 {
    color: var(--COLOR_HIGHLIGHT_5);
}
.color_dim1 {
    color: var(--COLOR_5);
}
.color_dim2 {
    color: var(--COLOR_4);
}

/** Text size selectors */
.text_body {
    font-family: var(--BODY_FONT), sans-serif;
    font-size: var(--FONT_SIZE_MEDIUM);
}
.text_small {
    font-size: var(--FONT_SIZE_SMALL);
}
.text_medium {
    font-size: var(--FONT_SIZE_MEDIUM);
}
.text_large {
    font-size: var(--FONT_SIZE_LARGE);
}
.text_extra-large {
    font-size: var(--FONT_SIZE_XLARGE);
    margin-bottom: 0;
}
.text_monolithic {
    font-size: var(--FONT_SIZE_MONOLITHIC);
    font-weight: 900;
    margin-bottom: 0;
}

/** Misc text selectors */
.indent {
    text-indent: 2rem;
}
.sr-only {
    display: none;
}

input {
    font-size: var(--FONT_SIZE_MEDIUM);
}
